.main-nav-bar p {

}


@media screen and (min-width: 64rem) and (max-width: 84em) {
	.main-nav-bar {
		width: 40%;
	}

	.cart-badge {
		padding: 14% 19%;
	}
}

@media screen and (min-width: $tablet-width) and (max-width: $laptop-width) {
	.main-nav-bar {
		width: 50%;
	}
	
	.cart-badge {
		padding: 17% 20%;
	}
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
	.main-nav-bar {
		width: 0;
	}

	.navbar-link {
		display: none;
	}
}