.farmer-profile-card {
	display: flex;
}

.new-post-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.new-post {
	display: flex;
	align-items: center;
	color: $blue;
	cursor: pointer;
}

.new-post-title {
	color: $grey;
}

.new-post-title-container {
	display: flex;
	justify-content: space-between;
}

.del-post-title-container {
	display: flex;
	justify-content: flex-end;
}

.close-btn {
	cursor: pointer;
}

.farmer-del-action-btns {
	display: flex;
	width: 100%;
	justify-content: center;
}

.danger-zone .MuiButton-containedPrimary {
	background: $danger;
}

.new-post p {
	margin-left: $s-size*.5;
}

.farmer-post-name {
	flex: 25%;
	color: $blue;
	cursor: pointer;
}

.farmer-post-description {
	flex: 50%;
}

.farmer-post-actions {
	flex: 25%;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.edit {
	color: $base-color;
}

.del {
	color: $danger;
}

.post-action-btn {
	cursor: pointer;
	font-size: $m-size*1.1;
}


@media screen and (min-width: 64rem) and (max-width: 84em) {

}

@media screen and (min-width: $tablet-width) and (max-width: $laptop-width) {
	.farmer-profile-card-container {
		width: 90%;
	}

	.farmer-post-description p,
	.farmer-post-name p,
	.new-post-container,
	.post-action-btn {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
	.farmer-profile-card {
		flex-direction: column;
	}

	.farmer-post-actions {
		display: flex;
		padding: $m-size 0;
		flex-direction: row;
		align-items: center;
	}

	.farmer-profile-card-container {
		height: auto !important;
	}
}