.account-page {
	background: $off-white;
	padding-bottom: $l-size;
}

.account-container {
	padding: $m-size;
	width: 70%;
	margin: 0 auto;
}

.account-search-bar {
	display: flex;
	justify-content: flex-end;
}

.account-section-info {
	display: flex;
}

.account-filter-section {
	// margin: $s-size 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-left: $m-size;
}

.account-filter-section-container {
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.search-bar-item {
	width: 30%;
	margin: .7rem 0;
}

.account-info-container {
	width: 75% !important;
	padding: $m-size $l-size;
	margin-left: $m-size;
}

.account-page .MuiAlert-message,
.account-page .MuiTypography-gutterBottom {
	font-size: $m-size;
}


@media screen and (min-width: 84rem) {
	.account-page {
		padding-bottom: 30vh;
	}
}


@media screen and (min-width: 64rem) and (max-width: 84em) {
	.account-page {
		padding-bottom: 50vh;
	}

	.account-container {
		width: 80%;
	}
}

@media screen and (min-width: $tablet-width) and (max-width: $laptop-width) {
	.account-page {
		padding-bottom: 30vh;
	}

	.account-container {
		width: 95%;
	}
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
	.account-search-bar {
		display: none;
	}

	.account-container {
		width: 98%;
	}

	.account-info-container {
		width: 100% !important;
		margin: 0;
	}

	.account-section-info {
		flex-direction: column;
	}

	.acc-title {
		display: flex;
		align-items: center;
		height: $l-size;
	}
}