//colors
$base-color: #4caf50;
$off-white: #F5F5F5;
$grey: #818181;
$dark-grey: #666;
$light-grey: #ccc;
// $blue: #3c4251;#BFBFBF
// $light-blue: #464b5e;
// $purple: #8357c5;

// spacing
$m-size: 1.6rem;
$s-size: 1.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$mobile-width: 20em;
$tablet-width: 45em;
$laptop-width: 63em;
$desktop-width: 90em;